@model PaginatedList<BensModManager.Models.Modification>

<div class="title-container text-center text-light">
    <h1 class="modifications-header offcanvas-header text-light">Mods</h1>
</div>

<form asp-action="Index" method="get">
    <div id="inlineSearch" class="row">
        <div class="col">
            <select for="ModType"
                    id="searchModType"
                    name="ModType"
                    class="form-floating"
                    value="@ViewData["ModType"]">
            </select>
        </div>
        <div class="col">
            <input type="text"
                   for="Mod"
                   name="Mod"
                   id="searchModificationName"
                   class="form-control bg-dark text-light"
                   placeholder="Mod Name"
                   value="@ViewData["Mod"]" />
        </div>

        <div class="col">
            <button type="submit"
                    id="searchBtn"
                    class="form-control btn btn-success text-white"
                    value="Search">
                <i class="fas fa-search"></i>
            </button>
        </div>
        @if (@ViewData["Mod"] != null || @ViewData["ModType"] != null)
        {
            <div class="col">
                <a id="fullListBtn"
               class="form-control btn btn-info text-white"
               asp-action="Index">
                    Back to Full List
                </a>
            </div>
        }
    </div>
</form>


<div id="tableAJAX">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr id="headers" class="align-middle">
                <th scope="col">
                    Mod
                </th>
                <th scope="col">
                    Price
                </th>
                <th scope="col">
                    Mod Type
                </th>
                <th scope="col">
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Modifications",null,Context.Request.Scheme)','New Mod')" class="btn btn-success text-white"><i class="fas fa-car"></i>+</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="showInPopup('@Url.Action("AddOrEdit","Modifications",new {id=item.ID},Context.Request.Scheme)','Update Mod')" class="focusAnchor">
                    <td>
                        @Html.DisplayFor(modelItem => item.Mod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModType)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="container align-middle text-center">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["Mod"]"
       class="btn btn-default btn-outline-light @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["Mod"]"
       class="btn btn-default btn-outline-light @nextDisabled">
        Next
    </a>
</div>