@model IEnumerable<BensModManager.Models.Mod>

<div class="title-container text-center">
    <h1 class="modsHeader">Mods</h1>
</div>

<form asp-action="Index" id="obsoleteSearch" method="get">
    <div class="container" id="inlineSearch">
        <div class="row justify-content-md-center">
            <div class="col col-md-3">
                <input id="searchModName" class="form-control"
                       type="text" name="ModName"
                       placeholder="Mod Name"
                       value="@ViewData["ModName"]" />
            </div>

            <div class="col col-md-2">
                <select id="searchModType" class="form-select"
                        for="ModType" name="ModType"
                        title="Type or select the mod type"
                        value="@ViewData["ModType"]">
                </select>
            </div>

            <div class="col col-md-1">
                <button id="searchBtn" class="form-control btn btn-success"
                        onclick="cleanseURL()" type="submit"
                        title="Search" value="Search" disabled>
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <div class="col col-md-1">
                <a class="form-control btn btn-success"
                   onclick="modPopup('@Url.Action("AddOrEdit","Mods",null,Context.Request.Scheme)','New Mod')">New Mod</a>
            </div>

            @if (@ViewData["ModName"] != null || @ViewData["ModType"] != null)
            {
                <div class="col col-md-2"> 
                    <a class="form-control btn btn-info"
                   asp-action="Index" id="resetSearch">
                        Back to Full List
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="form-check form-switch form-check-reverse">
        <label class="form-check-label" for="obsoleteCheckbox">
            Exclude Obsolete Mods
        </label>
        <input id="obsoleteCheckbox" class="form-check-input"
               type="checkbox" for="ExcludeObsolete"
               onchange="this.form.submit()" onclick="cleanseURL()"
               name="ExcludeObsolete" value="@ViewData["ExcludeObsolete"]">
    </div>
</form>

<div id="tableAJAX">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr id="headers" class="align-middle">
                <th scope="col" class="col-7">
                    <a class="sortColumns" asp-action="Index" asp-route-sortOrder="@ViewData["ModNameSortParam"]"
                       asp-route-modName="@ViewData["ModName"]"
                       asp-route-modType="@ViewData["ModType"]">
                        Mod Name
                        <i class="fas fa-sort"></i>
                    </a>
                </th>
                <th scope="col" class="col-2">
                    <a class="sortColumns" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]"
                       asp-route-modName="@ViewData["ModName"]"
                       asp-route-modType="@ViewData["ModType"]">
                        Price
                        <i class="fas fa-sort"></i>
                    </a>
                </th>
                <th scope="col" class="col-3">
                    <a class="sortColumns" asp-action="Index" asp-route-sortOrder="@ViewData["ModTypeSortParam"]"
                       asp-route-modName="@ViewData["ModName"]"
                       asp-route-modType="@ViewData["ModType"]">
                        Mod Type
                        <i class="fas fa-sort"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Obsolete == false)
                {
                    <tr class="focusAnchor" title="Click to open mod" onclick="modPopup('@Url.Action("AddOrEdit","Mods",new {id=item.ID},Context.Request.Scheme)','Update Mod')">

                        @if (item.FileName != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.ModName)&nbsp;&nbsp;<i id="containsPDF" title="PDF attached" class="fas fa-file-pdf"></i>
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.ModName)&nbsp;&nbsp;<i id="noPDF" title="No PDF attached" class="fas fa-file-pdf"></i>
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModType)
                        </td>
                    </tr>
                }

                //Show the obsolete mods as grey and crossed out
                @if (item.Obsolete == true)
                {
                    <tr class="focusAnchor" id="obsoleteMod" title="Click to open obsolete mod" onclick="modPopup('@Url.Action("AddOrEdit","Mods",new {id=item.ID},Context.Request.Scheme)','Update Mod')">

                        @if (item.FileName != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.ModName)&nbsp;&nbsp;<i id="containsPDF" title="PDF attached" class="fas fa-file-pdf"></i>
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.ModName)&nbsp;&nbsp;<i id="noPDF" title="No PDF attached" class="fas fa-file-pdf"></i>
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModType)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@if (!Model.Any())
{
    <h2>No Mods Found</h2>
}
else
{
    @if (@ViewData["ModName"] != null || @ViewData["ModType"] != null || @ViewData["ExcludeObsolete"] != null)
    {
        <h2 id="modsFloat">&nbsp;Mods</h2><h2 id="totalModsStatic"></h2><h2 id="totalMods">@Model.Count() out of&nbsp;</h2>
        <h2 id="totalPrice">@string.Format(new System.Globalization.CultureInfo("en-GB"), "{0:C}", @Model.Sum(x => x.Price)) of&nbsp;</h2><h2 id="totalPriceStatic"></h2>
    }
    else
    {
        <h2 id="modsFloat">&nbsp;Mods</h2><h2 id="totalModsStatic"></h2><h2 id="totalPriceStatic">Total: </h2>
    }
}

<script>
    //Disable the search button if there is no search criteria
    var modName = document.getElementById("searchModName");
    var modType = document.getElementById("searchModType");
    var search = document.getElementById("searchBtn");

    function searchValues() {
        if (modType.value === "") {
            search.disabled = true;
        }
        else if (modName.value === "") {
            search.disabled = true;
        }
        if (modType.value !== "") {
            search.disabled = false;
        }
        else if (modName.value !== "") {
            search.disabled = false;
        }
    }

    document.addEventListener('input', (event) => {
        searchValues();
    });

    window.onload = function () {
        searchValues();
    };

    //Only append the populated search parameters to the URL
    function cleanseURL() {
        if (modName.value == "") {
            modName.setAttribute("name", "");
        }
        if (modType.value == "") {
            modType.setAttribute("name", "");
        }
    }
</script>